$color-primary: #432eab;
$color-secondary: #d4defe;
$color-background: #ffffff;
$color-title: #262c40;
$color-text: #8189a3;
$color-black: #000000;

$xsmall-screen: 360px;
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 1024px;
$xlarge-screen: 1440px;
$xxlarge-screen: 1920px;
